<div class="row">
    <div class="col-xs-10">
        <app-shopping-list-edit (valuesObtained)="populateIngredientsArray($event)"></app-shopping-list-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer;" *ngFor="let list of ingredients">
            {{list.name}} ({{list.amount}})
            </a>
        </ul>
    </div>

</div>
<p setBackground>style was directive made</p>

<p appBetterDirective [defaultColor]="'yellow'" [highlightColor]="'pink'">The background color is styled by directives</p>
